@model List<ComisionesSaludOcupacional.Models.ViewModels.RepresentanteTableViewModel>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.Title = "Representantes";
}

<br>
<div class="jumbotron">
    <h1 class="display-3">Representantes</h1>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered">

               @if (Model != null && Model.Count() != 0)
               {
                    <tr class="table-primary">
                        <th>Nombre</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                    </tr>

                    foreach (var oObjeto in Model)
                    {
                        <tr>
                            <td>@oObjeto.nombre</td>
                            <td>@oObjeto.correo</td>
                            <td>@oObjeto.telefono</td>
                        </tr>
                    }
                }
                else
                {
                    <tr>No se encuentran Representantes asociados a esta comisión</tr>
                }
            </table>
        </div>
    </div>
</div>




