@{
    ViewBag.Title = "Página Principal";
}

<div class="jumbotron">
    <h1>Comisiones de Salud Ocupacional - Ministerio de Seguridad Pública</h1>
    <p class="lead">Prototipo desarrollado por Erick Muñoz, Alonso Marín, Jorge Barquero y David Gätjens</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Funciones:</h2>
        <p>
            Crear comisiones (Temporal)
            Editar datos de una comisión
            Agregar Representantes a una Comisión
            Editar y borrar esos Representantes
        </p>
    </div>
</div>