@{
    ViewBag.Title = "Página Principal";
    Layout = "~/Views/Shared/_LayoutEmpty.cshtml";
}

<br />
<div class="jumbotron">
    <div class="row">
        
        <div class="col-sm">
            <div style="text-align:center;">
                <input onclick="document.location.href='@Url.Content("~/AdminComision")'" type="button" value="Admin" class="btn btn-primary btn-lg" />
            </div>

            <br />
            
            <div style="text-align:center;">
                <input onclick="document.location.href='@Url.Content("~/ComisionUserChooser")'" type="button" value="Usuario" class="btn btn-primary btn-lg" />
            </div>
        </div>
        

    </div>
    
</div>

