@{
    ViewBag.Title = "Página Principal";
}

<div class="jumbotron">
    <h1>Comisiones de Salud Ocupacional - Ministerio de Seguridad Pública</h1>
    <p class="lead">El best proyecto de la historia y el que piense otra vara lo cierro a pichazos</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Puede empezar por dejar de ser meco
        </p>
    </div>
</div>