<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand">MSP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" onclick="document.location.href='@Url.Content("~/Home")'">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="document.location.href='@Url.Content("~/Comision")'">Comision</a>
            </li>
        </ul>
    </div>
</nav>