
@{
    ViewBag.Title = "Delete";
}

<h2>Se eliminó el Representante</h2>

<input type="button" class="btn btn-primary" onclick="document.location.href='@Url.Content("~/Home/Index")'" value="Volver" />

