@model ComisionesSaludOcupacional.Models.ViewModels.CuentaPopupViewModel
<table cellpadding="0" cellspacing="0" border="0">
    <tr>

        <td valign="top"><b>Contraseña: </b></td>
        <td>
            @Html.DisplayFor(model => model.password)
        </td>
    </tr>

    <p>Entregue esta contraseña al usuario de la comisión para que pueda volver acceder al sistema</p>
</table>
